

<table [formGroup]="formGroup" >
  <tr *ngFor="let field of formShema" >
    <td>{{ field.name }}</td>
    <td>

      <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'string'">
          <input [name]="field.name" [formControlName]="createControl(field)" />
        </div>
        <div *ngSwitchCase="'number'">
            <input [name]="field.name" [formControlName]="createControl(field)" />
        </div>
        <div *ngSwitchDefault>
            <input [name]="field.name" [formControlName]="createControl(field)" />
        </div>
      </div>

      <div style="border: 1px red solid;" >{{ field | json }}</div>

    </td>
  </tr>
</table>
<div style="border: 1px red solid; padding: 10px; margin: 10px;" >{{ formGroup.value | json }}</div>